  nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: rgb(224, 199, 160);
    color: #544f47;
    width: 100vw;
    padding: 1.5em;
  }

  span {
    font-family: 'Bungee', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  .form-toggle {
    font-size: 14px;
    padding: 9px;
    border-style: solid;
    border-width: 7px;
    cursor: pointer;
  }

  .form-toggle:hover {
    box-shadow: 0 3px 13px rgba(0,0,0,0.3);;
    transition: box-shadow 0.4s ease-in-out;
  }


@media only screen and (min-width: 768px) {
  nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: rgb(224, 199, 160);
    color: #544f47;
    width: 100vw;
    padding: 1.5em;
  }

  span {
    font-family: 'Bungee', sans-serif;
    font-weight: 700;
    font-size: 40px;
  }

  .form-toggle {
    font-size: 30px;
    padding: 9px;
    border-style: solid;
    border-width: 7px;
    cursor: pointer;
  }

  .form-toggle:hover {
    box-shadow: 0 3px 13px rgba(0,0,0,0.3);;
    transition: box-shadow 0.4s ease-in-out;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: rgb(224, 199, 160);
    color: #544f47;
    width: 100vw;
    padding: 1.5em;
  }

  span {
    font-family: 'Bungee', sans-serif;
    font-weight: 700;
    font-size: 57px;
  }

  .form-toggle {
    font-size: 40px;
    padding: 9px;
    border-style: solid;
    border-width: 7px;
    cursor: pointer;
  }

  .form-toggle:hover {
    box-shadow: 0 3px 13px rgba(0,0,0,0.3);;
    transition: box-shadow 0.4s ease-in-out;
  }
}

